/* custom select */

#container-select { width:250px; height:40px; }

.sb-custom { display:inline; position:relative; background:url(../imagens/bg-select-flexinha.png) no-repeat center right;  }
.sparkbox-custom { display:none; width:100%; }
.no-js .sparkbox-custom { display: block; }
.sb-select:focus { -webkit-box-shadow: 0 0 4px 2px #79aed7; -moz-box-shadow: 0 0 4px 2px #79aed7; box-shadow: 0 0 4px 2px #79aed7; }
.sb-select { width:100%; height:23px; line-height:23px; position:relative; z-index: 1; left:0; top: 0; cursor:pointer;  }
.sb-dropdown { width:100%; top:0px; left:0px; position:absolute; z-index:2; display:none; background:#FFF; padding-bottom:10px;  }
.sb-dropdown a { width:94%; height:23px; line-height:23px; padding:0 3%; display: block; color:#646464; }
.sb-dropdown a:hover { background:#fb9c28; color:#fff; }
.sb-dropdown li.selected { width:100%; background:#fb9c28; }
.sb-dropdown li.selected a { color:#fff;  }